<!doctype html>



<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <h1>Bonjour {{ name }} !</h1>
	

    {% for product in products %}
      {{ product }}
	{% if loop.index == 3%}
	   <br>
	    {% endif%}
        {% endfor %}
	

</body>
</html>